@import url('https://fonts.googleapis.com/css?family=Lato:700');

body {
  font-family: 'Lato', "微軟正黑體", 'Microsoft JhengHei', 'Noto Sans TC', 'Noto Sans CJK TC', sourcehansans-tc, sans-serif;
  font-style: normal;
  line-height: 1.5em;
}

.sceneContainer {
  height: 100%;
}

svg {
  height: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
}





::selection {
  background: #E74631;
  color: #fff;
}

/* 導覽列點點顏色 */
#fp-nav ul li a span, .fp-slidesNav ul li a span {
  background: #E74631;
}

/* 導覽列tooltip顏色 */
#fp-nav ul:hover .fp-tooltip{
  color: #E74631;
  font-family: 'Lato', "微軟正黑體", 'Microsoft JhengHei', sans-serif;
  transition: opacity 0.2s ease-in;
  opacity: 1;
  right: 20px;
  width: auto;
}

/*#wrapper section:nth-child(1) {
  background: url("../img/bg1.svg") no-repeat;
  background-size: contain;
  background-size: 1250px auto;
  background-position: center;
}*/