@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
body {
  font-family: 'Lato', "微軟正黑體", 'Microsoft JhengHei', 'Noto Sans TC', 'Noto Sans CJK TC', sourcehansans-tc, sans-serif;
  font-style: normal;
  line-height: 1.5em;
}

html,
body {
  margin : 0;
  padding: 0;
  height : 100%;
}

.sceneContainer {
  height: 100%;
}

.fp-tableCell {
  display: block;
}

.sceneContainer svg {
  height: 100%;
  width: 100%;
  display: block;
  margin: 0 auto;
  overflow: hidden;
}

#wrapper,
#fp-nav {
  opacity: 0;
}

::selection {
  background: #E74631;
  color: #fff;
}


/* 導覽列點點顏色 */

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background: #E74631;
}


/* 導覽列tooltip顏色 */

#fp-nav ul:hover .fp-tooltip {
  color      : #E74631;
  font-family: 'Lato', "微軟正黑體", 'Microsoft JhengHei', sans-serif;
}


/* loading 畫面 */

.spinner {
  position : absolute;
  top      : 50%;
  left     : 50%;
  transform: translate(-50%, -50%);
}

.spinner p {
  color: #49BFBB;
  text-align: center;
}

#loadingIcon {
  animation: fadeIn 4s infinite;
  width    : 100px;
}

#outer {
  fill             : none;
  stroke           : #49BFBB;
  stroke-width     : 9px;
  stroke-dasharray : 150;
  stroke-dashoffset: 0;
  transform-origin : center;
  animation        : draw 4s infinite;
}

#inner {
  fill             : none;
  stroke           : #49BFBB;
  stroke-width     : 3px;
  stroke-dasharray : 150;
  stroke-dashoffset: 0;
  transform-origin : center;
  animation        : draw 4s infinite;
}

@keyframes fadeIn {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
  }
}

@keyframes draw {
  0% {
    transform: scale(1);
    stroke-dashoffset: 0;
  }
  50% {
    opacity: 0.8;
    transform: scale(0.8);
    stroke-dashoffset: 1000;
  }
  100% {
    transform: scale(1);
    stroke-dashoffset: 0;
  }
}
